<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>529050194754-95kekicg1e7gkc082op1c1ptqchdsaji.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.529050194754-95kekicg1e7gkc082op1c1ptqchdsaji</string>
	<key>API_KEY</key>
	<string>AIzaSyC_x1x8DgOzlGhiV1HMan-NWAIgiTufu5I</string>
	<key>GCM_SENDER_ID</key>
	<string>529050194754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bruceblake.TopSecret</string>
	<key>PROJECT_ID</key>
	<string>top-secret-dcb43</string>
	<key>STORAGE_BUCKET</key>
	<string>top-secret-dcb43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529050194754:ios:beae00e55950438c172edb</string>
</dict>
</plist>